/* Define color variables */
:root {
    --main-bg-color: rgb(250, 214, 170);
    --text-color-red: #5d3737;
    --link-hover-opacity: 0.7;
    --description-bg-color: rgba(0, 0, 0, 0.7);
    --default-text-opacity: 1;
    --text-color-dark: #333;
    --text-color-light: #666;
}

body, html {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: verdigris-mvb-pro-text, serif;
    align-items: center;
    background-color: var(--main-bg-color);
}
h2 {
    font-size: 18px;
    font-weight: normal;
}
h3 {
    font-size: 20px;
    color: var(--text-color-red);
}

.grid {
    display: grid;
    /* grid-template-columns: minmax(250px, 1fr) minmax(250px, 2fr); */
    grid-template-columns: 1fr 2fr 1fr; /* 3 columns: the middle one is wider */
    grid-template-rows: 1fr 1fr; /* 2 rows of equal height */
    gap: 10px;
    padding: 10px;
    width: 80%;
    margin: auto;
}

.element {
    display: flex;
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    /* cursor: pointer; */
    overflow: hidden;
    opacity: 0.8;
    margin: 10px;
}

/* Specific styling for the large center image to ensure it takes up both rows */
#center {
    grid-column: 2;
    grid-row: 1 / span 2; /* Spans both rows */
    height: 100%;
}

.header-nav-section {
    padding: 30px;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    color: #fff;
    display: flex;
    align-items: end;
    text-align: left;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    opacity: 0.7;
}

h1 {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.default-text {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.top {
    margin: auto;
    width: 60%;
    font-size: 40px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    opacity: 1;
    padding-top: 0;
    padding-bottom: 200px;
}

.top p {
    font-size: 16px;
    width: 100%;
}

.perm-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
}

.perm-text h1 {
    font-size: 40px;
    margin-bottom: 5px;
}
.perm-text p {
    font-size: 16px;
}

.element:hover .description {
    opacity: 1;
}
.element:hover .default-text {
    opacity: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

#faq-section {
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    max-width: 800px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-item p {
    color: var(--text-color-light); /* Example text color */
}

.faq-item a {
    color: var(--text-color-red);
}

/* Targeting the link within the label that has 'for' attribute set to 'FridayBus' */
label[for="FridayBus"] a {
    color: var(--text-color-red);
    text-decoration: underline;
    /* font-weight: bold; */
}

input[type="text"], textarea {
    font-family: Arial, sans-serif; /* Example font */
    font-size: 13.3px; /* Example font size */
    color: var(--text-color-dark); /* Example text color */
}

.wedding-schedule {
    /* background-color: #f0e6f6; */
    padding: 20px;
    text-align: left;
    margin: 20px auto;
    max-width: 800px;
}

.wedding-schedule h2 {
    color: var(--text-color-red);
}

.schedule-list {
    list-style-type: none;
    padding-left: 30px;
}

.schedule-list li {
    margin: 10px 0;
    font-size: 18px;
}

.schedule-list time {
    font-weight: bold;
    color: var(--text-color-dark); /* Example text color */
}

.schedule-list location {
    color: var(--text-color-light); /* Example text color */
    font-style: italic;
}

/* h1 a {
    color: #000;
    text-decoration: none;
}
h1 a:hover {
    color: var(--text-color-light);
}
nav a:hover {
    color: var(--text-color-dark);
} */

.white-shadow {
    color: white;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}

#RSVP-section {
    margin-left: 20px;
    height: 100%;
}

.please-rsvp {
    margin: auto;
    max-width: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    max-width: 1000px;
  }
  .camp-info {
    max-width: 600px;
    flex: 1;
    /* padding: 10px; */
    text-align: left;
  }
  .map-section {
    flex: 1;
    /* padding: 10px; */
  }
  .whas-section {
    flex: 2;
    /* padding: 10px; */
  }

  .camp-map {
    width: auto;
    height: 600px; /* Adjust this value as needed to fit your design */
    object-fit: contain; /* This will ensure the image covers the set height without distorting */
  }

  address {
    padding: 10px;
}

nav ul li a.active {
    text-decoration: underline 1px;
    text-underline-offset: 5px; /* Adjust the offset to move the underline lower */
}

form { 
    max-width: 500px; 
    margin: 0 auto; 
    text-align: left;
}
label, input, select, textarea { display: block; margin-bottom: 10px; width: 100%; }
textarea { height: 100px; }
#paypal-button-container { margin-top: 20px; }

.shabbat-information {
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    max-width: 600px;
}

/* styles.css */
.hidden {
    display: none;
}

.button-style {
    background-color: var(--text-color-red);
    opacity: 0.8;
    color: white; /* White text */
    margin: 10px 0px; /* Margin around the button */
    padding: 8px 12px; /* Padding around the text */
    text-align: center; /* Center-aligned text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Necessary for dimensions */
    font-size: 16px; /* Text size */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.button-style:hover {
    opacity: 1;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: var(--main-bg-color);
    margin: 25% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 4px solid var(--text-color-red);
    width: 60%; /* Could be more or less, depending on screen size */
}

.close {
    color: var(--text-color-red);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}